@font-face {
    font-family: 'Igletss';
    src: url('../fonts/Iglets.ttf');
}
@font-face {
    font-family: 'Cruinn';
    src: url('../fonts/Cruinn\ Bold.ttf');
}
@font-face {
    font-family: 'Calama';
    src: url('../fonts/Calama_new.ttf');
}
@font-face {
    font-family: 'CrBlack';
    src: url('../fonts/Cruinn\ Black.ttf');
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}
@keyframes gradient{
    0%,100% {
        background: linear-gradient(45deg, #A599E9, #c1a4e2, #3b307a);
    }
    50%{
        background: linear-gradient(45deg, #3b307a, #c1a4e2, #A599E9);
    }
    25%,75%{
        background: linear-gradient(45deg, #3b307a, #A599E9,#c1a4e2 );
    }
}
@keyframes bg_color{
    0%{
        background-color: #2d2b55;
    }
    25%{
        background-color: #3c3a69;
    }
    50%{
        background-color: #413f69;
    }
    75%{
        background-color: #3c3a69;
    }
    100%{
        background-color: #2d2b55;
    }
}
body{
    margin-left: 20%;
    margin-right: 20%;
    background-color: #2D2B55;
    /* display: grid; */
    /* display: inline-block; */
    background-attachment:fixed;
    margin-bottom: 0%;
    place-content: center;
    animation-name: bg_color;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    overflow: auto;
}
hr{
    border-width: 3px;
    border: solid rgba(145,104,219,1);
    border-radius: 3px;
    /* border-color: linear-gradient(to right top, rgba(77,33,252,1) 0%, rgba(145,104,219,1) 100%) */
}
.just{
    font-family: Calama;
    font-size:95px;
    line-height: 90%;
    font-weight: lighter;
    /* float: left; */
    letter-spacing: 3px;
    color: #FB94FF;
    margin-bottom: 1%;
    margin-top: 0%;
    display: inline-block;
    transition: 0.5s;
    width: 200px;
}
.just:hover{
    transform: scale(1.1);
}
.boeng_777_300er{
    padding-right: 55%;
    display: inline-block;
}
.navigate{
    display: block;
    padding-top: 5%;
}
.game-page{
    /* display: grid; */

}
/* non-active-css{
    display: flex;
    width: 400px;
}
.active-css{

} */
img{
    display: inline-block;
    /* float: left; */
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border-style: solid;
    border-color : #A599E9; */
    margin-right: 10px;
    box-sizing: border-box;
    padding: 0;
}
.img_button_border_wrap{
    /* animation: gradient 10s infinite; */
    background: linear-gradient(45deg, #A599E9, #c1a4e2, #3b307a);
    width: 470px;
    height: 225px;
    margin-right: 10px ;
    display: inline-block;
    float: left;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 90ms;
}
.img_button_border_wrap:hover{
    transform: scale(1.03);
}
.g_title{
    transition: 180ms;
    color :#dddbff;
    font-family: Cruinn;
    font-size: 40px;
    display: inline-block;
    margin-right: 10%;
    padding-bottom: 0%;
    margin-bottom: 5px;
    cursor: pointer;
    transition-duration: 100ms;
}
.g_title:hover{
    transform: scale(1.03);
}
.a_title{
    /* kurwa */
}
.a_title:hover{
    color: #9c97fd;
}
.ss{
    width: 15px;
    height: 15px;
    border-radius: 3px;
    transition-duration: 300ms;
    overflow: auto;
}
.ss:hover{
    transform: scale(6);
}
.description{
    display: inline;
    margin-left: 20px;
    padding-left: 30px;
    color :#aaa6ff;
    font-family: CrBlack;
    font-size: 30px;
}
.boeng_777_300_er{
    display: inline-block;
    margin-left: 30px;
    font-family: Lato;
    padding-right: 10%;
    font-size: 20px;
    color: aliceblue;
    display: flex;
    padding-left: 30px;
    margin-bottom: 90px;
}
.desc{
    font-family: Lato;
    padding : 0%;
    color: rgba(232, 242, 250, 0.541);
}
.price{
    font-family: Lato;
    padding-right: 30%;
    font-size: 20px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}
a{
    color:aliceblue ;
    text-decoration: none;
}
.pidoras{
    color : #9b96ff;
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 1%;
}
.huita{
    display: inline-block;
    margin-bottom: 1%;
}
.game{
    /* display: grid; */
    /* width: 892px; */
    /* height:500px; */
    padding-top: 2%;
    padding-bottom: 2%;
}
.container{
    display: block  ;
}
.game_title{
    font-size: 80px;
    color :#dddbff;
    font-family: Cruinn;
    margin-top: 0%;
    margin-bottom: 0%;
}
.back{
    font-size: 20px;
    color :#dddbff;
    font-family: Cruinn;
    cursor: pointer;
    --s: 3px;   
    --c: #dddbff;
    background: 
    linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: 0.5s;
}
.back:hover{
    --_p: 180px;
}
.bottom-container{
    display: inline-block;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    /* background-color: #000; */
    padding: 0%;
}
.bottom_bleh{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: small;
    font-family: Cruinn;
    color: #454281;
}
.forms_storage input[type=submit]{
    border-radius: 4px;
    font-weight: bold;
    padding: 5px 10px;
    width:auto;
    font-size: 20px;
    background-color: #454281;
    border: none;
    color: #dddbff;
}
.forms_storage label{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    color: #dddbff;
}
.forms_storage input,textarea{
    margin-bottom: 10px;
    border: none;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    width: 30%;
}
.text_at_login_page{
    font-size: 30px;
    color: #dddbff;
    margin-top: 5px;
}
.h1_login{ 
    font-size: 30px;
    color: #dddbff;
}
.login_or_logout{
    font-family: Cruinn;
    float: right;
    text-align: right; 
    font-size: 30px;
    color: #dddbff;
    top: -1%;
    position: static;
    display: inline-block;
}
.login_or_logout a{
    text-decoration: none;
    
}
.helptext{
    display: block;
}
.logout_button{
    display: block;
    font-size: 30px;
    color: #dddbff;
    transition-duration: 100ms;
}
.logout_button:hover{
    color: #a991ff;
    transform: scale(1.02);
}
.login_button{
    display: block;
    font-size: 30px;
    color: #dddbff;
    transition-duration: 100ms;
}
.login_button:hover{
    color: #a991ff;
    transform: scale(1.02);
}
.singup_button{
    display: block;
    font-size: 30px;
    color: #dddbff;
}
.singup_button:hover{
    color: #a991ff;
}
.si{
    transition-duration: 100ms;
}
.si:hover{
    transform: scale(1.02);
    color: #a991ff;
}
.password_change_class{
    margin-top: 10px;
    transition-duration: 100ms;
}
.password_change_class:hover{
    transform: scale(1.02);
}
.password_change:hover{
    color: #a991ff;
}
