{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/png">
</head>

<body>
    {% block content %}{% endblock content %}
    <div class=bottom-container><p class=bottom_bleh style="text-align: center">Все права не защищены и не облагаются авторским правом, делать дичь
        и т.д. - ОООЧЕНЬ рекомендуется <img class=ss src="/media/pepe.gif/" alt="z"></p></div>
</body>
</html>
{% comment %} прочитать gunicorn {% endcomment %}